.movielist{
    display: flex;
}
.srchcontainer{
    /* width: 100%; */
    /* position: relative; */
  margin-left: 280px;
   justify-content: center;
   margin-top: -15px;
    
}
.srchcontainer input{
   width: 800px;
    height: 60px;
   border-radius: 100px;
   border: 0;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   padding-left: 30px;
   font-size: 1.2rem;
   outline: 0;
} 
.srchcontainer button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    margin-left: 10px;
    background: rgb(94, 91, 91);
    color: #fff;
}